* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(180deg, black, orangered);
  color: white;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
}

.musicPlayer {
  background-color: rgba(130, 127, 126, 0.326);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  display: flex;
}

.left {
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.318);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
}

.sideNav {
  height: 100%;
  width: 23%;
  border: 2px solid rgba(255, 255, 255, 0.379);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 0 0.5rem;
}

.sideNav h5 {
  font-size: larger;
  font-weight: 500;
  margin: 1rem 0;
  background-color: #ef400090;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
}

.sideNav h5:hover {
  background-color: orangered;
}

.musicList {
  width: 80%;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.musicList h5 {
  background-color: #f7ab902c;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  justify-content: space-between;
}

.musicList h5:hover {
  background-color: #f7ac9061;
}

.right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.right .upload {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: orangered;
  padding: 10px 35px;
  border-radius: 0px 50% 0px 50%;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .2s;
}

.upload:hover{
    background-color: rgb(244, 207, 193);
    color: orangered;
    font-weight: 600;
}

.right .musicImg {
  height: 20rem;
  width: 80%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid rgb(251, 177, 98);
}

.musicImg img {
  width: 100%;
  object-fit: contain;
}
