* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(180deg, black, orangered);
  color: white;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
}

.musicPlayer {
  background-color: rgba(130, 127, 126, 0.326);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  display: flex;
}

.left {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.318);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
}

.sideNav {
  height: 100%;
  width: 23%;
  border: 2px solid rgba(255, 255, 255, 0.379);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 0 0.5rem;
  position: relative;
}

.sideNav h5 {
  font-size: larger;
  font-weight: 500;
  margin: 1rem 0;
  background-color: #ef400090;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
}

.sideNav h5:hover {
  background-color: orangered;
}

.musicList {
  width: 77%;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.musicList h5 {
  background-color: #f7ab902c;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  justify-content: space-between;
}

.musicList h5:hover {
  background-color: #f7ac9061;
}

.musicList .rightClick {
  width: 7%;
  border: 1.5px solid rgba(255, 255, 255, 0.379);
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top-left-radius: 0;
  position: absolute;
  display: none;
}

.musicList .rightClick h3 {
  background-color: rgba(255, 255, 255, 0.379);
  backdrop-filter: blur(10px);
  padding: 0.2rem 0rem;
  border-radius: 20px;
  border-top-left-radius: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 100;
}

.musicList .rightClick h3:hover {
  background-color: rgb(255, 68, 0);
}

.searchSong {
  width: 77%;
  display: none;
  display: none;
  flex-direction: column;
}

.searchSong h5 {
  font-weight: 100;
  font-size: larger;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.searchSong input {
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin-left: 3rem;
  background-color: #ffc2a252;
  border: none;
  color: white;
  font-size: large;
}

.right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.right .upload {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: orangered;
  padding: 10px 35px;
  border-radius: 0px 50% 0px 50%;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s;
}

.upload:hover {
  background-color: rgb(244, 207, 193);
  color: orangered;
  font-weight: 600;
}

.right .musicImg {
  height: 20rem;
  width: 80%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid rgb(251, 177, 98);
}

.musicImg img {
  width: 100%;
  object-fit: contain;
}
